<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITOS220-T: Operating Systems</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container mt-4">
        <header class="text-center mb-5">
            <h1 class="display-4 fw-bold mb-2 main-title">ITOS220-T: Operating Systems</h1>
            <p class="text-muted text-uppercase tracking-wider">FINAL PROJECT</p>
        </header>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-top border-bottom mb-5">
            <div class="container-fluid">
                <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-uppercase" href="index.html">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                LABORATORY ACTIVITIES
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="laboratory/active_directory.html"><i class="bi bi-people-fill me-2"></i>Active Directory: Creating Users</a></li>
                                <li><a class="dropdown-item" href="laboratory/dhcp.html"><i class="bi bi-pc-display me-2"></i>DHCP Role and Joining Workstations in Domain</a></li>
                                <li><a class="dropdown-item" href="laboratory/web_server.html"><i class="bi bi-browser-edge me-2"></i>Application and Web Server</a></li>
                                <li><a class="dropdown-item" href="laboratory/raid.html"><i class="bi bi-floppy2 me-2"></i>RAID Installation</a></li>
                                <li><a class="dropdown-item" href="laboratory/group_policy.html"><i class="bi bi-collection-fill me-2"></i>Group Policy Management</a></li>
                                <li><a class="dropdown-item" href="laboratory/file_server.html"><i class="bi bi-files me-2"></i>File Server</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                WINDOWS INSTALLATION
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows 95</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows 98</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows NT</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows 2000</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows ME</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows XP</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-server me-2"></i>Windows Server 2003</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows Vista</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-server me-2"></i>Windows Server 2008</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows 7</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows 8</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows 10</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-windows me-2"></i>Windows 11</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                FINALS: TUP-TAGUIG DOMAIN
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="bi bi-globe me-2"></i>Part 1: Domain Controller</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-people-fill me-2"></i>Part 2: Adding Users</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-server me-2"></i>Part 3: DHCP Server</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-files me-2"></i>Part 4: File Sharing</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-floppy2 me-2"></i>Part 5: RAID</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-window-stack me-2"></i>Part 6: Remote Desktop</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-globe2 me-2"></i>Part 7: Web Server</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-person-gear me-2"></i>Part 8: Group Policies</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-window-stack me-2"></i>Part 9: Windows Deployment</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">ABOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
</body>
</html>